@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

$font-primary: "Inter";
$color-gray: #323d41;
$color-mauve: #a29088;
$color-beige: #c7bab2;
$color-background: #f4f6f8;
$color-beige-opaque: rgb(199, 186, 178, 0.25);
$color-gray-opaque: rgb(50, 61, 65, 0.25);
$color-background-opaque: rgb(244, 246, 248, 0.25);

* {
  scroll-behavior: smooth;
}
body {
  font-family: $font-primary;
  padding-left: 150px;
  padding-right: 150px;
  background-color: $color-background;
  margin-top: 0;
  background: url(/imgs/45-degree-fabric-light.png);
}
.flex-body {
  display: flex;
  justify-content: space-between;
}
nav {
  padding-top: 200px;
  max-width: 50vw;
  position: sticky;
  width: 40vw;
  align-self: flex-start;
  top: 0;
  // margin-left: 10vw;
  // display: flex;
  // flex-direction: column;

  .logo-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 100px;
    .logo {
      width: 80px;

      > img {
        width: 100%;
        height: auto;
        object-position: cover;
      }
    }
    .logo-text {
      margin-left: 20px;
    }
    .logo-text > * {
      margin: 0;
    }
    .logo-text > h1 {
      font-weight: 300;
      font-size: 24px;
      text-transform: uppercase;
      letter-spacing: 3px;
      margin-bottom: 8px;
    }
    .logo-text > h2 {
      font-weight: 200;
      font-size: 18px;
      letter-spacing: 2px;
      color: $color-gray;
    }
  }
  ul {
    list-style: none;
    padding-left: 0;

    li.nav-item {
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 1.5px;
      line-height: 1;
      margin-bottom: 5px;
      // width: 120px;
      width: 7vw;
      padding-bottom: 5px;
      position: relative;
    }
    li.nav-item:hover {
      cursor: pointer;
    }
    li.nav-item:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: $color-beige;
      height: 2px;
      border-radius: 0 1px 1px 0;
      transform: scaleX(1);
      transition: transform 250ms ease-in-out;
      display: block;
      transform-origin: 0% 50%;
    }
    li.nav-item:hover:after {
      transform: scaleX(2);
    }
    li.nav-item > a.nav-link {
      text-decoration: none;
      color: $color-gray;
    }
  }
}
section {
  max-width: 40vw;
  color: $color-gray;
  // opacity: 0;

  & > #about,
  #experience,
  #projects {
    scroll-margin-top: 200px;
    // opacity: 0;
    // transition: 2s ease-in-out;
  }

  & .about-heading {
    margin-top: 0;
  }

  h2 {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    position: relative;
    text-transform: uppercase;
    padding-bottom: 5px;
  }
  h2:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: $color-beige;
    height: 2px;
    border-radius: 0 1px 1px 0;
    transform: scaleX(1);
    transition: transform 250ms ease-in-out;
    display: block;
    transform-origin: 0% 50%;
  }
  div.section-group {
    margin: 50px 0;
  }
  div.about {
    padding-top: 200px;
  }
  div.section-text {
    padding: 20px 0 20px 0;

    p {
      font-size: 12px;
      font-weight: 300;
      letter-spacing: 1.5px;
      line-height: 2;
      margin-bottom: 20px;

      a {
        text-decoration: none;
        color: $color-gray;
        font-weight: 600;
      }
    }
  }
  .section-experience {
    display: flex;
    margin: 0 0 50px 0;

    .exp-date-cont {
      width: 10vw;
      word-wrap: normal;
      // padding-right: 28px;
      // background-color: $color-gray;
      // border-right: 2px solid $color-beige;
    }
    .exp-date {
      color: $color-gray;
      font-size: 9px;
      font-weight: 300;
      margin: 0;
    }
    .exp-date-div {
      font-size: 14px;
      // background-color: $color-gray;
      // font-weight: 500;

      & > div {
        text-align: end;
        // color: $color-background !important;
        // line-height: 0.9;
      }
    }

    .exp-content {
      padding-left: 28px;
      // padding-left: 8px;
      width: 90vw;
      // border-left: 2px solid $color-beige;

      .projects-heading-container {
        display: flex;
        justify-content: space-between;
      }
      .exp-content-title,
      .exp-content-place {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 1.2px;
      }
      .exp-content-title {
        margin: 0;
        color: black;
      }
      .exp-content-place {
        color: $color-gray;
        margin-top: 6px;
        // font-weight: 400;
        // color: $color-gray;
      }
      .exp-content-desc {
        font-size: 12px;
        word-wrap: normal;
      }
      .exp-content-tool {
        display: inline-block;
        background-color: $color-mauve;
        font-size: 9px;
        font-weight: 500;
        letter-spacing: 1.2px;
        margin-bottom: 3px;
        padding: 5px;
        text-transform: uppercase;
        color: $color-background;
      }
    }
    .projects-img-cont {
      // width: 50px;
      // width: 0px;
      // border-radius: 50%;

      img {
        width: 100%;
        height: auto;
        max-width: 100%;
        object-fit: cover;
        box-shadow: rgb(73, 79, 85) 0px 20px 30px -12px;
      }
    }
  }
  .section-projects {
    // transition: 150ms ease-in-out;
    // transition: opacity 0.5s ease-in-out;
    // padding-left: 10px !important;
    // opacity: 0;
    // background-image: url(/imgs/amberton-project-square.png);
  }
  .section-projects:hover {
    // background-color: blue;
    background-image: url(/imgs/amberton-project-square.png);
    background-color: rgba(255, 255, 255, 0.94);
    background-blend-mode: lighten;
    // transition: 3s;
    // opacity: 1;
  }
}

.img-round {
  border-radius: 50%;
}
