@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

$font-primary: "Inter";
$color-gray: #323d41;
$color-mauve: #a29088;
$color-beige: #c7bab2;
$color-background: #f4f6f8;

body {
  font-family: $font-primary;
  // padding-left: 150px;
  // padding-right: 150px;
  background-color: $color-background;
}
.flex-body {
  display: flex;
  justify-content: space-evenly;
}
nav {
  padding-top: 200px;
  // margin-left: 10vw;
  // display: flex;
  // flex-direction: column;

  .logo-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 100px;
    .logo {
      width: 80px;

      > img {
        width: 100%;
        height: auto;
        object-position: cover;
      }
    }
    .logo-text {
      margin-left: 20px;
    }
    .logo-text > * {
      margin: 0;
    }
    .logo-text > h1 {
      font-weight: 300;
      font-size: 24px;
      text-transform: uppercase;
      letter-spacing: 3px;
      margin-bottom: 8px;
    }
    .logo-text > h2 {
      font-weight: 200;
      font-size: 18px;
      letter-spacing: 2px;
      color: $color-gray;
    }
  }
  ul {
    list-style: none;
    padding-left: 0;

    li.nav-item {
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 1.5px;
      line-height: 1;
      margin-bottom: 5px;
      width: 120px;
      padding-bottom: 5px;
      position: relative;
    }
    li.nav-item:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: $color-beige;
      height: 3px;
      border-radius: 0 1.5px 1.5px 0;
      transform: scaleX(1);
      transition: transform 250ms ease-in-out;
      display: block;
      transform-origin: 0% 50%;
    }
    li.nav-item:hover:after {
      transform: scaleX(2);
    }
  }
}
