@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

$font-primary: "Inter";
$color-gray: #323d41;
$color-mauve: #a29088;
$color-beige: #c7bab2;
// $color-beige: $color-mauve;
$color-background: #f4f6f8;
$color-white-opaque: rgb(255, 255, 255, 0.5);
$color-beige-opaque: rgb(199, 186, 178, 0.15);
$color-gray-opaque: rgb(50, 61, 65, 0.25);
$color-background-opaque: rgb(244, 246, 248, 0.25);

//intro animation
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  scroll-behavior: smooth;
}
body#body-main {
  font-family: $font-primary;
  // padding-left: 150px;
  // padding-right: 150px;
  padding-left: 7%;
  padding-right: 7%;
  background-color: $color-background;
  margin-top: 0;
  // background: url(/imgs/45-degree-fabric-light.png);
}

#intro-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-background;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; /* Ensure it's on top */

  &.hide {
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease-in-out;
  }

  .intro-content {
    opacity: 1;
    // animation: fadeIn 1s ease-in-out forwards;

    img {
      width: 250px;
      height: auto !important;
    }
  }
}

.flex-body {
  display: flex;
  justify-content: space-between;
}
nav#main-nav {
  // padding-top: 200px;
  max-width: 50vw;
  position: sticky;
  // width: 40vw;
  align-self: flex-start;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  // gap: (100vh - 65vh) / 3;
  height: 100vh;
  justify-content: space-evenly;

  .logo-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    // padding-bottom: 5rem;
    // margin-bottom: 100px;
    .logo {
      width: 80px;
      height: 80px;

      > img {
        width: 100%;
        height: auto;
        object-position: cover;
      }
    }
    .logo-text {
      margin-left: 20px;
    }
    .logo-text > * {
      margin: 0;
    }
    .logo-text > h1 {
      font-weight: 300;
      font-size: 1.5rem;
      text-transform: uppercase;
      letter-spacing: 3px;
      // margin-bottom: 8px;
    }
    .logo-text > h2 {
      font-weight: 200;
      font-size: 1.125rem;
      letter-spacing: 2px;
      color: $color-gray;
    }
  }
  ul.nav-cont-1 {
    list-style: none;
    padding-left: 0;
    transform: translateY(-75px);

    .nav-item {
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 1.5px;
      line-height: 1;
      margin-bottom: 10px;
      // width: 120px;
      width: 8rem;
      padding-bottom: 5px;
      position: relative;

      .nav-link {
        //remove all of :after if the underline width is unwanted
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          background: $color-beige;
          height: 2px;
          border-radius: 0 1px 1px 0;
          display: block;
          transform-origin: 0% 50%;
          transform: scaleX(1);
        }
      }
    }

    li.nav-item:hover {
      cursor: pointer;
    }
    li.nav-item:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: $color-beige;
      height: 2px;
      border-radius: 0 1px 1px 0;
      transform: scaleX(1);
      transition: transform 250ms ease-in-out;
      display: block;
      transform-origin: 0% 50%;
    }
    li.nav-item:hover:after {
      // transform: scaleX(2);
      transform: scaleX(1.5);
    }
    li.nav-item > a.nav-link {
      text-decoration: none;
      // color: $color-gray;
      color: black;
    }
  }

  .nav-cont-2 {
    display: flex;
    list-style: none;
    padding-left: 0;

    .nav-item > a > img {
      // width: 30px;
      width: 2rem;
      height: auto;
      transition: transform 300ms ease;
    }

    .nav-item > a > img:hover {
      transform: scale(1.1);
    }

    .nav-item:nth-child(2) {
      margin: 0 1rem;
    }
  }

  .nav-cont-1,
  .nav-cont-2 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

#mobile-sticky-nav {
  display: none;
  // opacity: 0;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #ededee; //beige-opaque
  transition: all 250ms ease-in-out;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;

  .mobile-ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    padding-left: 0;
    align-items: center;

    & > .mobile-logo > .mobile-logo-div {
      width: 40px;
      height: 40px;
    }

    & > .mobile-logo > .mobile-logo-div > img {
      width: 100%;
    }

    & > .mobile-nav-item > a {
      text-decoration: none;
      color: $color-gray;
      letter-spacing: 1.5px;
      font-size: 0.95rem;
    }
  }
}
section {
  max-width: 45vw;
  color: $color-gray;
  // opacity: 0;

  // .active {
  //   opacity: 1;
  // }

  & > #about,
  #experience,
  #projects {
    // scroll-margin-top: 200px;
    scroll-margin-top: var(--scroll-align-offset, 0px);
    // opacity: 0;
    // transition: 2s ease-in-out;
  }

  .about {
    & .about-heading {
      margin-top: 0;
    }

    .about-header {
      display: flex;

      .about-pic-cont {
        width: 100px;
        // height: 100px;

        .about-pic {
          // border-radius: 50%;
          width: 100%;
          // max-width: 100px;
          // width: 100px;
          // height: auto;
        }
      }
    }
  }

  h2 {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    position: relative;
    text-transform: uppercase;
    padding-bottom: 5px;
  }
  h2:before {
    // content: "";
    // position: absolute;
    // bottom: 0;
    // left: 0;
    // right: 0;
    // background: $color-beige;
    // // height: 2px;
    // border-radius: 0 1px 1px 0;
    // transform: scaleX(1);
    // transition: transform 250ms ease-in-out;
    // display: block;
    // transform-origin: 0% 50%;
  }
  div.section-group {
    margin: 50px 0;
  }
  div.about {
    // padding-top: 200px;
    padding-top: var(--scroll-align-offset, 0px);
  }

  a.project-link {
    text-decoration: none;
    color: inherit;
  }

  div.section-text {
    padding: 20px 0 20px 0;

    p {
      font-size: 12px;
      font-weight: 300;
      letter-spacing: 1.5px;
      line-height: 2;
      margin-bottom: 20px;

      a {
        text-decoration: none;
        color: $color-gray;
        font-weight: 600;
      }
    }
  }
  .section-experience {
    display: flex;
    margin: 0 0 50px 0;

    &.section-experience-cont {
      padding-left: 20px !important;
      padding-right: 20px !important;
    }

    .exp-date-cont {
      width: 10vw;
      word-wrap: normal;
      // padding-right: 28px;
      // background-color: $color-gray;
      // border-right: 2px solid $color-beige;
    }
    .exp-date {
      color: $color-gray;
      font-size: 9px;
      font-weight: 300;
      margin: 0;
    }
    .exp-date-div {
      font-size: 14px;
      // background-color: $color-gray;
      // font-weight: 500;

      & > div {
        text-align: end;
        // color: $color-background !important;
        // line-height: 0.9;
      }
    }

    .exp-content {
      padding-left: 28px;
      // padding-left: 8px;
      width: 90vw;
      // border-left: 2px solid $color-beige;

      // .projects-heading-container {
      //   display: flex;
      //   justify-content: space-between;
      //   position: relative;

      //   // .test-icon {
      //   //   position: absolute;
      //   //   border-top: 4px black solid;
      //   //   border-right: 4px black solid;
      //   //   // background-color: blue;
      //   //   width: 8px;
      //   //   height: 8px;
      //   //   // rotate: 45deg;
      //   //   transition: 200ms ease;
      //   //   top: 20px;
      //   //   right: 20px;

      //     // &:hover {
      //     //   top: 0;
      //     //   right: 0;
      //     // }
      //   }

      .hide-desktop-text {
        display: none;
        letter-spacing: 1.2px;
        color: $color-mauve;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 13px;
        margin-bottom: 3px;
      }
    }
    .exp-content-title,
    .exp-content-place {
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 1.2px;
    }
    .exp-content-title {
      margin: 0;
      color: black;
    }
    .exp-content-place {
      color: $color-gray;
      margin-top: 6px;
      // font-weight: 400;
      // color: $color-gray;
    }
    .view-project {
      // width: 15px;
      // height: 15px;
      // border-top: 2.5px $color-gray solid;
      // border-right: 2.5px $color-gray solid;
      // transition: 500ms ease;
      display: block;
      margin: 30px auto;
      width: 10px;
      height: 10px;
      border-top: 2px solid #000;
      border-left: 2px solid #000;
      transform: rotate(135deg);
      transition: 300ms ease;

      &:after {
        content: "";
        display: block;
        width: 2px;
        height: 45px;
        background-color: black;
        transform: rotate(-45deg) translate(15px, 4px);
        left: 0;
        top: 0;
      }
    }
    &:hover > .projects-heading-container > .view-project:after {
      // rotate: 45deg;
      // height: 65px; // Extend the arrow shaft length
      // transform: rotate(-45deg) translate(15px, 4px) scaleY(1.5);
      width: 80px;
    }
    .exp-content-desc {
      font-size: 12px;
      word-wrap: normal;
    }
    .exp-content-tool {
      display: inline-block;
      background-color: $color-mauve;
      font-size: 9px;
      font-weight: 500;
      letter-spacing: 1.2px;
      margin-bottom: 3px;
      padding: 5px;
      text-transform: uppercase;
      color: $color-background;
    }
  }
  .projects-img-cont {
    // width: 50px;
    // width: 0px;
    // border-radius: 50%;

    img {
      width: 100%;
      height: auto;
      max-width: 100%;
      object-fit: cover;
      box-shadow: rgb(73, 79, 85) 0px 20px 30px -12px;
    }
  }
}
.section-projects {
  transition: 250ms ease-in-out !important;
  // transition: opacity 0.5s ease-in-out;
  padding-left: 20px !important;
  padding-right: 20px !important;
  // opacity: 0;
  // background-image: url(/imgs/amberton-project-square.png);
  border-radius: 15px;

  .projects-heading-container {
    display: flex;
    justify-content: space-between;
    position: relative;

    .arrow-icon {
      position: absolute;
      border-top: 2.5px $color-gray solid;
      border-right: 2.5px $color-gray solid;
      width: 8px;
      height: 8px;
      // rotate: 45deg; // off: diagonal, on: right
      transition: 250ms linear;
      top: 10px; // for diagonal arrow
      right: 10px; // for diagonal arrow
      // top: 0; // for right arrow
      // right: 10px; // for right arrow

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 10px;
        width: 12px;
        height: 2.5px;
        background-color: $color-gray;
        transform: rotate(135deg);
        transform-origin: top left;
      }
    }
  }

  &:hover .arrow-icon {
    top: 0;
    right: 0;
  }

  &:hover .arrow-icon:after {
    // width: 16px;
  }

  &:hover {
    // background-color: blue;
    // background-image: url(/imgs/amberton-project-square.png);
    // background-color: rgba(255, 255, 255, 0.94);
    background-color: $color-beige-opaque;
    // background-color: $color-white-opaque;
    background-blend-mode: lighten;
    // transition: 3s;
    // opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 8px -20px;
  }

  .projects-main-heading {
    margin-bottom: 0;
  }

  // .projects-no-margin-bottom {
  //   margin-bottom: 0 !important;
  // }

  // .projects-sub-heading {
  //   // color: #779380;
  //   margin-top: 0 !important;
  // }

  .img-round {
    border-radius: 50%;
  }

  .projects-mobile {
    display: none;
  }
}

.projects-no-margin-bottom {
  margin-bottom: 0 !important;
}

.projects-sub-heading {
  // color: #779380;
  margin-top: 0 !important;
}

// .img-round {
//   border-radius: 50%;
// }

//Tablet
@media (max-width: 1023px) {
  .flex-body {
    display: block;
  }
  nav#main-nav {
    position: static;
  }
  section#content {
    max-width: 100%;

    & > #about,
    #experience,
    #projects {
      scroll-margin-top: 10px;
    }
  }
}

@media (max-width: 767px) {
  body#body-main {
    padding-left: 2%;
    padding-right: 2%;
  }

  nav {
    max-width: 100vw !important;
  }

  .logo {
    width: 55px !important;
    height: 55px !important;
  }
  .logo-text {
    margin-left: 3% !important;
  }
  .logo-text > h1 {
    // font-weight: 300;
    font-size: 1.25rem !important;
    // text-transform: uppercase;
    // letter-spacing: 3px;
    // margin-bottom: 8px;
  }
  .logo-text > h2 {
    // font-weight: 200;
    font-size: 0.875rem !important;
    // letter-spacing: 2px;
    // color: $color-gray;
  }

  nav#mobile-sticky-nav.sticky {
    display: block;
    position: fixed;
    top: 0;
    z-index: 100;
    // opacity: 1;
  }

  #about,
  #experience,
  #projects {
    // scroll-margin-top: 200px;
    scroll-margin-top: 75px !important;
    // opacity: 0;
    // transition: 2s ease-in-out;
  }

  div.about {
    // padding-top: 200px;
    padding-top: 20px !important;
  }

  .mobile-resume {
    border: 1px solid $color-gray;
    padding: 3px 13px;
    // background-color: $color-background;
  }
}

@media (max-width: 575px) {
  .section-projects:hover {
    background-color: transparent;
    box-shadow: none;
  }
  .exp-date-cont.projects-img-cont,
  .exp-date-cont {
    display: none !important;
  }

  .exp-content {
    padding-left: 0 !important;
    width: auto !important;
  }

  .section-text.section-experience.section-experience-cont,
  .section-text.section-experience.section-projects {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .hide-desktop-text {
    display: block !important;
  }

  .projects-mobile {
    display: block !important;
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;

    .projects-mobile-img {
      width: 100%;
      max-width: 100%;
      height: auto;
      display: block;
    }
  }
}

//UX
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

:root {
  --header-font: "Crimson Text", serif;
  --sub-font: "Poppins", sans-serif;
  --italic-font: "Playfair Display", serif;
  --sub-text-color: #5d6775;
  --hover-text: #cedaea;
  --hover-bg: #5e656d;
  --project-bg: #ebf0f6;
  --darker-text-color: #2f3a47;
  --box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

body {
  font-family: var(--sub-font) !important;
}
/*BOOTSTRAP NAVBAR HEADER*/
.navbar {
  padding: 50px;
}

.navbar-light .navbar-toggler {
  border: none !important;
  border-color: white !important;
  width: 60px;
}
.navbar-brand {
  font-family: var(--header-font);
  font-size: 50px;
  margin-left: 50px;
  color: var(--hover-bg) !important;
}

.logo-img {
  width: 100px;
  margin-bottom: 5px;
}

.navbar-nav {
  margin-left: auto;
  font-family: var(--header-font);
  margin-right: 50px;
  font-size: 15px;
  align-items: center !important;
}

.nav-link {
  // color: var(--sub-text-color) !important;
  // margin-left: 20px;
}

.navbar-toggler {
  margin-right: 100px;
}

.navbar-nav .nav-link:hover {
  // color: white !important;
  // background-color: rgba(94, 101, 109, 0.85) !important;
  // transition: 600ms !important;
}

.sr-only {
  margin-bottom: 60px;
  border-bottom: 1px solid currentColor;
}

/*BODY OF PAGE*/

/*TITLE AND TITLE IMAGE*/

.container {
  font-family: var(--header-font);
  width: 100% !important;
  margin: 0 auto !important;
  align-items: center !important;
}

.title-container {
  margin-top: 100px;
}
.title-text {
  margin-top: 150px;
}

.title-info {
  text-align: center;
  font-family: var(--sub-font);
}

.title-text h3,
p {
  font-family: var(--sub-font);
  color: var(--sub-text-color);
}

.title-text h1 {
  font-family: var(--header-font);
  font-size: 50px;
}

.case-study {
  margin-bottom: 60px;
  font-size: 30px;
  text-transform: uppercase;
  font-family: var(--header-font);
}

.case-desc {
  font-size: 20px;
}

.title-img {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}

.carrots-title-img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

/*TEXT ITALICS HEADER*/
.text-italic {
  font-size: 50px;
  font-family: var(--italic-font);
}

/*UPDATE ALL HEADERS TO "ALL CAPS"*/
.all-caps-title {
  /* text-transform: uppercase; */
  font-family: var(--header-font);
}

/*PROJECT OVERVIEW*/
.project-overview-section {
  border: 1px solid var(--hover-text);
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 150px;
  padding: 50px 68px;
}

.project-overview-title {
  margin-bottom: 40px;
}

/*UNDERSTANDING THE USER*/
.understand-user-section {
  margin-top: 80px;
  background-color: var(--project-bg);
  border-radius: 10px;
  padding: 50px 68px;
}

.understand-user-title {
  margin-bottom: 10px;
}

.pain-points {
  margin-top: 50px;
}

.pain-point-individual {
  border: 0.8px solid var(--sub-text-color);
  margin: 0 auto;
  padding: 20px 5px;
  background-color: #ffffff;
}

/*PERSONA AND PROBLEM STATEMENT*/
.persona-section {
  margin-top: 60px;
  padding: 50px 68px;
}

.boutique-persona-one {
  display: block;
  width: 100% !important;
}

/*USER JOURNEY MAP*/
.user-journey-map-section {
  margin-top: 5px;
  padding: 50px 68px;
}

/*PAPER WIREFRAMES*/
.paper-wireframe-section {
  margin-top: 5px;
  padding: 50px 68px;
}

/*DIGITAL WIREFRAMES*/
.digital-wireframe-section {
  margin-top: 5px;
  padding: 50px 68px;
}

.pet-wireframe-desktop,
.pet-wireframe-mobile {
  box-shadow: var(--box-shadow);
}

/*USABILITY STUDY FINDINGS*/
.usability-study-findings {
  margin-top: 80px;
  background-color: var(--project-bg);
  border-radius: 10px;
  padding: 50px 68px;
}

.round-findings {
  border: 0.8px solid var(--sub-text-color);
  margin: 0 auto;
  padding: 20px 5px;
  background-color: #ffffff;
}

.findings {
  padding-top: 20px;
  font-family: var(--sub-font);
  color: var(--sub-text-color);
}

.findings-line {
  padding: 10px;
}

.usability-study-title {
  margin-bottom: 40px;
}

/*REFINING THE DESIGN*/
.refining-the-desgin {
  margin-top: 80px;
}

.mockups {
  margin-top: 60px;
  margin-bottom: 80px;
}

/*ACCESSIBILITY*/
.accessibility-section {
  margin-top: 80px;
  background-color: var(--project-bg);
  border-radius: 10px;
  padding: 50px 68px;
}

.accessibility-point {
  border: 0.8px solid var(--sub-text-color);
  margin: 0 auto;
  padding: 20px 5px;
  background-color: #ffffff;
}

/*REFINED DESIGNS*/
.refined-designs-section {
  margin-top: 80px;
}

/*HI-FI PROTOTYPE*/
.hifi-prototype {
  margin-top: 60px;
}

/*RESPONSIVE DESIGN*/
.responsive-design {
  margin-top: 80px;
}

.carrots-slide-mobile {
  max-width: 280px;
}

.slide-shadow {
  box-shadow: var(--box-shadow);
}

.carrots-slide-tablet {
  max-width: 410px;
}

.carrots-slide-laptop {
  max-width: 540px;
}

/*GOING FORWARD*/
.end-section {
  margin-top: 80px;
}
.going-forward {
  margin-bottom: 20px;
}

.takeaways {
  border: 1px solid var(--hover-text);
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 60px;
  padding: 50px 68px;
  margin-bottom: 60px;
}

.takeaway-paragraph {
  padding: 20px 20px;
}

/*NEXT STEPS*/
.next-steps {
  margin-top: 80px;
  margin-bottom: 150px;
  background-color: var(--project-bg);
  border-radius: 10px;
  padding: 50px 68px;
}

/*FOOTER*/
.footer-link {
  font-family: var(--header-font);
  padding: 24px;
}

.footer-link a {
  color: var(--sub-text-color);
  text-decoration: none;
}

.footer-link a:hover {
  color: white !important;
  background-color: rgba(94, 101, 109, 0.6) !important;
  transition: 600ms !important;
  padding: 10px 16px;
}

.footer-link .active {
  margin-bottom: 60px;
  border-bottom: 1px solid currentColor;
}

.footer-all {
  margin-top: 150px;
  margin-bottom: 70px;
}

/*FOOTER CODE*/
.footer-code {
  font-family: var(--sub-font);
  color: var(--sub-text-color);
  margin-bottom: 70px;
  font-size: 10px;
}

.footer-code-link:hover {
  color: var(--sub-text-color);
  transition: 600ms;
}

/*MEDIA QUERIES*/

@media (min-width: 821px) and (max-width: 991px) {
  .navbar {
    padding: 30px;
  }
  .navbar-brand {
    margin-left: 20px;
    font-size: 35px;
  }

  .logo-text {
    margin-left: 20px;
  }

  .navbar-toggler {
    margin-right: 10px;
  }

  .navbar-nav {
    margin-left: auto;
  }

  .navbar-collapse {
    padding: 80px;
  }

  .image-title {
    font-size: 16px;
  }

  .case-title {
    font-size: 50px;
  }

  .container {
    align-items: center;
  }
}

@media (min-width: 768px) and (max-width: 820px) {
  .navbar {
    padding-left: 30px;
    padding-right: 0;
  }

  .navbar-brand {
    margin-left: 40px;
  }

  .navbar-toggler {
    margin-right: 40px;
  }
  .about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-paragraph,
  .about-paragraph-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: none;
    text-align: center;
  }

  a .resume-button {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
  }
  .footer-all {
    margin-top: 80px;
  }
  .footer-link {
    margin-bottom: 80px;
  }
}

@media (min-width: 415px) and (max-width: 767px) {
  .navbar {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }
  .navbar-brand {
    margin-left: 5px;
  }

  .navbar-toggler {
    margin-right: 5px;
  }

  .logo-img {
    width: 80px;
  }

  .logo-text {
    margin-left: 20px;
    font-size: 10px;
  }

  .navbar-toggler-icon {
    max-width: 30px;
  }

  .container {
    text-align: center !important;
  }

  .title-text {
    margin-top: 20px;
  }
  .case-title {
    font-size: 20px;
  }

  .petconnect-title {
    font-size: 38px !important;
  }
  .case-study,
  .case-desc {
    font-size: 14px;
  }

  .case-study {
    margin-bottom: 8px;
  }

  .about-title {
    font-size: 28px;
  }

  .about-section,
  .about-paragraph {
    font-size: 15px;
  }

  .footer-all {
    margin-top: 50px;
  }

  .footer-link {
    padding-bottom: 80px !important;
  }

  .footer-code {
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 60px;
    font-size: 12px;
  }

  .persona-section,
  .user-journey-map-section,
  .paper-wireframe-section,
  .digital-wireframe-section,
  .usability-study-findings,
  .mockups,
  .accessibility-section,
  .refined-designs-section,
  .hifi-prototype {
    margin-top: 40px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 22px;
    padding-bottom: 22px;
    margin-bottom: 40px;
  }

  .project-overview-section {
    padding-bottom: 2px;
  }

  .understand-user-section {
    padding-bottom: 2px;
  }

  .bio-pic {
    display: block !important;
    margin: 0 auto !important;
    text-align: center !important;
  }

  .about-title {
    text-align: center !important;
    margin-top: 30px !important;
  }

  .title-text {
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: left !important;
  }

  .title-img {
    margin-top: 20px;
  }

  .case-study {
    margin-bottom: 10px;
  }

  .project-overview-section,
  .understand-user-section,
  .persona-section,
  .user-journey-map-section,
  .digital-wireframe-section,
  .refining-the-desgin,
  .end-section {
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
    font-size: 13px;
  }

  .project-overview-section h4,
  .pain-points h4,
  .paper-wireframe-section h3,
  .digital-wireframe-section h3,
  .round-findings h4,
  .refining-the-desgin h3,
  .mockups h3,
  .accessibility-section h5,
  .end-section h4 {
    font-size: 19px;
  }

  .project-overview-title,
  .pain-points h2,
  .persona-section h2,
  .user-journey-map-section h2,
  .accessibility-section h3,
  .refined-designs-section h3,
  .hifi-prototype h3 {
    font-size: 19px;
  }

  .project-overview-title {
    margin-bottom: 14px;
  }

  .text-italic {
    font-size: 30px;
  }

  .understand-user-section {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    text-align: center;
  }

  .pain-point-title {
    margin-bottom: 0 !important;
  }

  .pain-point-paragraph {
    margin-bottom: 2px !important;
    padding-bottom: 2px !important;
  }

  .pain-point-individual {
    padding-left: 0;
    padding-right: 0;

    border: none;
    background-color: var(--project-bg);
  }

  .usability-study-findings {
    padding-left: 20px;
    padding-right: 20px;
  }

  .usability-study-title {
    font-size: 17px;
    margin-bottom: 10px;
  }

  .usability-study-findings p,
  .findings,
  .mockups p,
  .accessibility-section p,
  .hifi-prototype p {
    font-size: 13px;
  }

  .round-findings {
    padding-left: 1px;
    padding-right: 1px;
    text-align: left;
  }

  .takeaway-paragraph {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .takeaways {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .next-steps {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 18px;
    padding-right: 18px;
  }

  .pet-next-steps {
    font-size: 15px !important;
  }
}

@media (max-width: 414px) {
  /* .navbar {
    padding: 12px 0 12px 0;
  }
  .navbar-brand {
    font-size: 26px;
    margin-left: 12px;
  }

  .navbar-toggler {
    margin-right: 12px;
  }

  .container {
    font-family: var(--header-font);
    width: 100% !important;
    margin: 0 auto !important;
    align-items: center !important;
  }

  .project-overview-media {
    padding: 0 !important;
  }

  .petconnect-title {
    font-size: 50px !important;
  }

  .footer-code {
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 60px;
    font-size: 10px;
  } */

  .container {
    text-align: center !important;
    margin: 0 auto !important;
    align-items: center !important;
  }

  .title-text {
    margin-top: 20px;
  }
  .case-title {
    font-size: 20px;
  }

  .petconnect-title {
    font-size: 38px !important;
  }
  .case-study,
  .case-desc {
    font-size: 14px;
  }

  .case-study {
    margin-bottom: 8px;
  }

  .about-title {
    font-size: 28px;
  }

  .about-section,
  .about-paragraph {
    font-size: 15px;
  }

  .footer-all {
    margin-top: 50px;
  }

  .footer-link {
    padding-bottom: 80px !important;
  }

  .footer-code {
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 60px;
    font-size: 12px;
  }

  .persona-section,
  .user-journey-map-section,
  .paper-wireframe-section,
  .digital-wireframe-section,
  .usability-study-findings,
  .mockups,
  .accessibility-section,
  .refined-designs-section,
  .hifi-prototype {
    margin-top: 40px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 22px;
    padding-bottom: 22px;
    margin-bottom: 40px;
  }

  .project-overview-section {
    padding-bottom: 2px;
  }

  .understand-user-section {
    padding-bottom: 2px;
  }

  .bio-pic {
    display: block !important;
    margin: 0 auto !important;
    text-align: center !important;
  }

  .about-title {
    text-align: center !important;
    margin-top: 30px !important;
  }

  .title-text {
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: left !important;
  }

  .title-img {
    margin-top: 20px;
  }

  .case-study {
    margin-bottom: 10px;
  }

  .project-overview-section,
  .understand-user-section,
  .persona-section,
  .user-journey-map-section,
  .digital-wireframe-section,
  .refining-the-desgin,
  .end-section {
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
    font-size: 13px;
  }

  .project-overview-section h4,
  .pain-points h4,
  .paper-wireframe-section h3,
  .digital-wireframe-section h3,
  .round-findings h4,
  .refining-the-desgin h3,
  .mockups h3,
  .accessibility-section h5,
  .end-section h4 {
    font-size: 19px;
  }

  .project-overview-title,
  .pain-points h2,
  .persona-section h2,
  .user-journey-map-section h2,
  .accessibility-section h3,
  .refined-designs-section h3,
  .hifi-prototype h3 {
    font-size: 19px;
  }

  .project-overview-title {
    margin-bottom: 14px;
  }

  .text-italic {
    font-size: 30px;
  }

  .understand-user-section {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    text-align: center;
  }

  .pain-point-title {
    margin-bottom: 0 !important;
  }

  .pain-point-paragraph {
    margin-bottom: 2px !important;
    padding-bottom: 2px !important;
  }

  .pain-point-individual {
    padding-left: 0;
    padding-right: 0;

    border: none;
    background-color: var(--project-bg);
  }

  .usability-study-findings {
    padding-left: 20px;
    padding-right: 20px;
  }

  .usability-study-title {
    font-size: 17px;
    margin-bottom: 10px;
  }

  .usability-study-findings p,
  .findings,
  .mockups p,
  .accessibility-section p,
  .hifi-prototype p {
    font-size: 13px;
  }

  .round-findings {
    padding-left: 1px;
    padding-right: 1px;
    text-align: left;
  }

  .takeaway-paragraph {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .takeaways {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .next-steps {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 18px;
    padding-right: 18px;
  }

  .pet-next-steps {
    font-size: 15px !important;
  }

  .boutiqute-title {
    font-size: 35px !important;
  }

  .project-overview-title {
    font-size: 22px;
  }
}
//End UX

// .active {
//   opacity: 1;
// }

// Add active class to nav item on intersection observer
.activeNav {
  color: $color-mauve !important;
  // color: #6b5952 !important;
  // font-style: italic;
}

.h2-animate {
  position: relative; /* Needed for absolute positioning of ::after */
  // color: red;
  transition: 500ms ease; /* Transition for other properties if needed */

  &:after {
    content: "";
    position: absolute;
    // bottom: -5px; /* Adjust as needed for line position */
    left: 0;
    width: 100%;
    height: 2px;
    background: $color-beige; /* Or your desired line color */
    transform: scaleX(0);
    transform-origin: 0% 50%;
    transition: transform 500ms ease-in-out;
    display: block;
  }

  &.animate-line:after {
    /* Add this class in your JavaScript */
    transform: scaleX(1); /* Animate to full width */
    // transition: transform 500ms ease-in-out;
  }
}

.mob-active-nav {
  color: $color-mauve !important;
  position: relative;
  transition: 250ms ease;

  &:before {
    content: "";
    position: absolute;
    // top: 0; // line
    top: 9px;
    left: -8px;
    // height: 100%; // line
    height: 4px;
    // width: 2.5px; // line
    width: 4px;
    background-color: $color-mauve;
    transition: transform 500ms ease-in-out;
  }
}

.test-div {
  width: 10px;
  height: 10px;
  border-top: solid red 3px;
  border-right: solid red 3px;
}
