@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
body {
  font-family: "Inter";
  padding-left: 150px;
  padding-right: 150px;
  background-color: #f4f6f8;
  margin-top: 0;
}

.flex-body {
  display: flex;
  justify-content: space-between;
}

nav {
  padding-top: 200px;
  max-width: 50vw;
  position: sticky;
  width: 40vw;
  align-self: flex-start;
  top: 0;
}
nav .logo-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 100px;
}
nav .logo-cont .logo {
  width: 80px;
}
nav .logo-cont .logo > img {
  width: 100%;
  height: auto;
  object-position: cover;
}
nav .logo-cont .logo-text {
  margin-left: 20px;
}
nav .logo-cont .logo-text > * {
  margin: 0;
}
nav .logo-cont .logo-text > h1 {
  font-weight: 300;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 8px;
}
nav .logo-cont .logo-text > h2 {
  font-weight: 200;
  font-size: 18px;
  letter-spacing: 2px;
  color: #323d41;
}
nav ul {
  list-style: none;
  padding-left: 0;
}
nav ul li.nav-item {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1.5px;
  line-height: 1;
  margin-bottom: 5px;
  width: 120px;
  padding-bottom: 5px;
  position: relative;
}
nav ul li.nav-item:hover {
  cursor: pointer;
}
nav ul li.nav-item:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #c7bab2;
  height: 2px;
  border-radius: 0 1px 1px 0;
  transform: scaleX(1);
  transition: transform 250ms ease-in-out;
  display: block;
  transform-origin: 0% 50%;
}
nav ul li.nav-item:hover:after {
  transform: scaleX(2);
}

section {
  max-width: 40vw;
  color: #323d41;
}
section h2 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  position: relative;
  text-transform: uppercase;
}
section h2:after {
  content: "";
  background: red;
  position: absolute;
  bottom: 10px;
  right: 0;
  height: 3px;
  width: 50%;
}
section div.section-text {
  padding: 20px 0 20px 0;
}
section div.section-text p {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1.5px;
  line-height: 2;
  margin-bottom: 20px;
}
section div.section-text p a {
  text-decoration: none;
  color: #323d41;
  font-weight: 600;
}
section .section-experience {
  display: flex;
  margin: 0 0 50px 0;
}
section .section-experience .exp-date-cont {
  width: 10vw;
  word-wrap: normal;
}
section .section-experience .exp-date {
  color: #a29088;
  font-size: 9px;
  font-weight: 300;
  margin: 0;
}
section .section-experience .exp-content {
  padding-left: 28px;
  width: 90vw;
}
section .section-experience .exp-content .exp-content-title,
section .section-experience .exp-content .exp-content-place {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.2px;
}
section .section-experience .exp-content .exp-content-title {
  margin: 0;
  color: black;
}
section .section-experience .exp-content .exp-content-place {
  color: #323d41;
  margin-top: 6px;
}
section .section-experience .exp-content .exp-content-desc {
  font-size: 12px;
  word-wrap: normal;
}
section .section-experience .exp-content .exp-content-tool {
  display: inline-block;
  background-color: #c7bab2;
  font-size: 9px;
  font-weight: 500;
  letter-spacing: 1.2px;
  margin-bottom: 3px;
  padding: 5px;
  text-transform: uppercase;
}
section .section-experience .projects-img-cont img {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=output.css.map */
